PROJECT_NAME=codearena-ai

BACKEND_PORT=8080
FRONTEND_PORT=5173

POSTGRES_DB=codearena_ai
POSTGRES_USER=codearena
POSTGRES_PASSWORD=codearena
POSTGRES_PORT=5432

REDIS_PORT=6379

KAFKA_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

JWT_SECRET=change-this-in-real-environments-with-at-least-32-characters
JWT_ISSUER=codearena-ai
JWT_ACCESS_TOKEN_TTL=PT15M
JWT_REFRESH_TOKEN_TTL=P7D

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:${POSTGRES_PORT}/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:${KAFKA_PORT}
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=${REDIS_PORT}

VITE_APP_NAME=CodeArena AI
VITE_API_BASE_URL=https://codeascend-x8xd.onrender.com/api